@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    background-color: #EEF1FF;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 5%;
}

.card-header {
    background-color: #B1B2FF;
    color: #FFFFFF;
}

.table-hover tbody tr:hover td {
    background-color: #B1B2FF;
    color: #FFFFFF;
}
.table-hover tbody tr:hover td a{
    color: #FFFFFF;
}
.table-custom{
    background-color: #D2DAFF;
}
table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin:0;
    padding:0;
    width: 100em;
}
td a{
    display:block;
    color:#181818;
    text-decoration: none;
}
.btn-primary{
    background-color: #AAC4FF;
    border-color: #AAC4FF;
    color:#FFFFFF;
    min-width: 80px;
}

.btn-primary a{
    color:#FFFFFF;
    font-weight:500;
}

.btn-primary:hover{
    background-color: #9dbaff;
    border-color: #9dbaff;
}

.btn-secondary{
    background-color: #B1B2FF;
    border-color: #B1B2FF;
    color:#FFFFFF;
    min-width: 80px;
}

.btn-secondary a{
    color:#FFFFFF;
    font-weight:500;
}

.btn-secondary:hover{
    background-color: #a5a6ff;
    border-color: #a5a6ff;
}